<%= form_with model: @food, local: true do |form| %>
  <p><%= form.label :料理名 %>
  <%= form.text_field :name, required: true %></p>
  <p><%= form.file_field :image, accept: "image/png,image/jpeg,image/gif"  %></p>
  <p><%= form.label :コメント %>
  <%= form.text_area :comment  %></p>
  <%= form.submit "送信" %>
<% end %>